/* @keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}


.animated-gradient {
  background: linear-gradient(
    90deg,
    #ff8a00,
    #f43f5e,
    #3b82f6,
    #f43f5e,
    #ff8a00
  );
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

